
body {
    background-image: url("Bilder/binary-code-pattern-background_1142-902.jpg");
    background-repeat: repeat;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: white;
}

div.aside{
    font-size: x-large;
    margin-top: 20px;
    margin-left: 40px;
    grid-area: aside;
}

div.main{
    font-size: x-large;
    margin-top: 5px;
    margin-left: 650px;
    text-decoration: none;
    grid-area: main;
}

div.aside2{
    font-size: x-large;
    margin-top: 0px;
    margin-left: 40px;
    grid-area: aside2;
}

div.grid{
    grid-template-columns: 1fr;
    grid-template-areas:
            "aside"
            "main"
            "aside2";
}

h2{
    color: red;
    Font-family: 'Lato', sans-serif
    font-weight: 400;
    font-size:200%;
    text-align: center;
    text-transform: uppercase;

    color: red;
    width: 20%;
    padding: 1px 1px;
    margin: auto;
    border: 3px solid;
    border-radius: 5px;
    text-decoration: none;
}
h2:hover{
    background-color: blue;
}
@media (min-width: 600px) {

    div.grid {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "aside main aside2";
    }
}

