body{
    background-color: #a3d39c;
    font-family: sans-serif;
}

h1{
    border: 3px;
    text-align: center;
}

div.pakker{
    background-color: #666666;
    width: 850px;
    margin: auto;
    text-align: center;
}

ul{
    padding: ;
}